.animation{
    width: 300px;
    height: 200px;
    background-color: #4682B4;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.404);
}
.animation h1{
    text-align: center;
    color: white;
}
.title{
    text-align: center;
    margin-top: 20px;
}
